{
    "DEFAULT": {
        "PagesDirectory": "pages",
        "BlogDirectory": "blog",
        "DitherImages": "yes",
        "IndexPage": "index.html",
        "SubstitutionTargets": [
            "html",
            "css",
            "js",
            "md"
        ],
        "OutputDirectory": "output",
        "SourceDirectory": "sonne_sources",
        "VariablesFile": "sonne_variables.json",
        "PreservePriorVariables": false,
        "BlogBase": "blog_base.html"
    }
}