.blog-tile {
    display: flex;
    margin: 1rem;
    width: 100%;

    & a {
        padding: 1rem;
        border-radius: 1rem;
        border: 0.1px white solid;
        width: 100%;
    }

    & .title {
        text-decoration: underline;
    }


}