<nav id="sidebar" aria-label="Site">
    <ul>
        <li class="nav-item"><a href="/" id="kp1" class="keypress"><span>Home</span><span class="keycap" aria-hidden="true">1</span></a></li>
        <li class="nav-item"><a href="/#projects" id="kp2" class="keypress"><span>Projects</span><span class="keycap" aria-hidden="true">2</span></a></li>
        <li class="nav-item"><a href="/#about" id="kp3" class="keypress"><span>About</span><span class="keycap" aria-hidden="true">3</span></a></li>
        <li class="listsep" aria-hidden="true"></li>
        <li class="nav-item"><a href="/blog/" id="kpB" class="keypress"><span>Blog</span><span class="keycap" aria-hidden="true">B</span></a></li>
    </ul>
</nav>
